<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>Weather Wear - <%= cityName %></title>
        <!-- bootstrap css stuff -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <!-- our own css for this page -->
        <link href="/css/city.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-center">
                <button
                    type="button"
                    class="btn btn-primary col"
                    onclick="goBack()"
                >
                    Return Home
                </button>
                <button
                    type="button"
                    class="btn btn-primary col"
                    style="background-color: rebeccapurple"
                    onclick="flipUnits()"
                    id="tempUnits"
                >
                    °C
                </button>
            </div>

            <div class="row">
                <p class="title">WeatherWear</p>
            </div>

            <div class="row">
                <p class="cityName"><%= cityName %></p>
            </div>

            <!-- make a table for the weatehr and stuff  -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="table_header" scope="col">Date</th>
                        <th class="table_header" scope="col">High</th>
                        <th class="table_header" scope="col">Low</th>
                        <th class="table_header" scope="col">Outfit</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < array.length; ++i) { %>
                    <tr class="tableRow" id="row<%= i %>">
                        <td scope="row"><%= array[i][0] %></td>
                        <td><%= parseInt(array[i][2] - 273.15) + "°C" %></td>
                        <td><%= parseInt(array[i][1] - 273.15) + "°C" %></td>
                        <td>
                            <form method="POST" action="/outfit">
                                <input
                                    type="hidden"
                                    name="temp"
                                    value="<%=parseInt((array[i][2] + array[i][1] - 2 * 273.15) / 2) %>"
                                />
                                <input
                                    type="submit"
                                    class="btn btn-primary"
                                    value="View Outfit"
                                />
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <!-- bootstrap js stuff  -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <script src="/javascripts/city.js"></script>
    </body>
</html>
