<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather Wear - <%= cityName %></title>
        <!-- add here in case browser doesn't make automatic request for favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <!-- bootstrap css stuff -->
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <!-- css for this page -->
        <link href="/css/weather.css" rel="stylesheet" />
        <!-- browser compatibility -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row align-items-center">
                <button type="button" class="btn btn-primary col" onclick="goBack()">Return Home</button>
                <button
                    type="button"
                    class="btn btn-primary col"
                    style="background-color: rebeccapurple"
                    onclick="flipUnits()"
                    id="tempUnits"
                >
                    °C
                </button>
            </div>
            <div id="title">WeatherWear</div>
            <div id="city-name-text"><%= cityName %></div>

            <!-- make a table for the weatehr and stuff  -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="table_header" scope="col">Date</th>
                        <th class="table_header" scope="col">High</th>
                        <th class="table_header" scope="col">Low</th>
                        <th class="table_header" scope="col">Outfit</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < array.length; ++i) { %>
                    <tr class="tableRow" id="row<%= i %>">
                        <td scope="row"><%= array[i][0] %></td>
                        <td><%= parseInt(array[i][2] - 273.15) + "°C" %></td>
                        <td><%= parseInt(array[i][1] - 273.15) + "°C" %></td>
                        <td>
                            <form method="POST" action="/outfit">
                                <input
                                    type="hidden"
                                    name="temp"
                                    value="<%=parseInt((array[i][2] + array[i][1] - 2 * 273.15) / 2) %>"
                                />
                                <input type="submit" class="btn btn-primary" value="View Outfit" />
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <!-- bootstrap js stuff  -->
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/weather.js"></script>
    </body>
</html>
